## Altium
**/History/
**/__Previews/
**/Project Outputs*/
**/Project Logs*/
**/*.html
**/*.drl
**/*.REP
**/*.rpt
**/*output*/
**/*.Cam

## LTspice
/Simulation/*.raw
/Simulation/*.log

## General
*.pdf
